@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  font-family: "Comic Relief", "JetBrains Mono", "Space Mono", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  
  --font-primary: "Comic Relief", sans-serif;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-grey-light: #A6A6A4;
  --color-beige: #F2F0E9;
  --color-grey-dark: #403E3C;
  --color-grey-medium: #D9D6D0;
  --color-black: #0D0D0D;
  background-color: #E1DBC7;
  color: var(--color-black);
}
@theme inline {
  --font-display: "Comic Relief", "JetBrains Mono", "Space Mono", system-ui, Helvetica, Arial, sans-serif;
  --breakpoint-3xl: 1920px;
  --color-grey-light:#A6A6A4;
  --color-beige: #EBE9DF;  /*#efede7;*/
  --color-grey-dark: #403E3C;
  --color-grey-medium: #D9D6D0;
  --color-black:  rgb(61,61,61) ;/*#0D0D0D;*/
  --color-notion-background:  #E1DBC7;  /* #EEECE0; #efebe0 */

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

.custom_sd{
  box-shadow: 0 0 15px 7px rgba(55, 55, 55, 0.15);
}

.custom_sd2{
  box-shadow: 0 0 15px 6px rgba(55, 55, 55, 0.20);
}